.upload-video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding-right: 10px;

    .upload-title {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .video-uploader {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
        background-color: rgba(172, 21, 1, 0.1);
        border-radius: 10px;
        border: 1.5px dashed rgba(172, 21, 1, 0.8);
        margin-top: 15px;
        width: 100%;
        cursor: pointer;

        .upload-icon-wrapper {
            display: flex;
            position: relative;
            width: fit-content;
            aspect-ratio: 1/1;

            .upload-icon {
                font-size: 5.5rem;
                color: var(--primary);
                margin: auto;
                animation: none;
            }

            .spinner {
                display: none;
                height: 100%;
                width: 100%;
                border-top: 3px var(--primary) solid;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
            }

            &.uploading {
                padding: 20px;

                .spinner {
                    display: block;
                    animation: video-on-uploading 1s linear infinite forwards;
                }
            }
        }

        .upload-guide-text {
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
            color: var(--primary);
            margin-top: 15px;
        }
    }

    .submit-btn {
        border-radius: 5px;
        background-color: var(--primary);
        margin-top: 15px;
        padding: 10px 30px;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
    }
}

@keyframes video-on-uploading {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
